.App {

  text-align: left;
  background-color: lightseagreen;
  
 
}

.App-header {
  background-color: lightseagreen;
  height: 70px;
  padding: 20px;
  color: white;
  text-align: center;
  border-style: double;
  border-width: 4px;
  border-color: purple;
}

.App-title {

  font-size: 1.5em;
}

.App-intro {
  
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.form {
  display: flex; 
  color: purple;
  text-shadow: 1px 1px;
  padding: 20px;
 
}

.list{
 
  padding: 30px;
  align-content: space-around;
  background-color: lightseagreen;
  color: white
}

.complete{

  background-color: purple;
}

.standard{
  display: flex; 

}